.experiences_display_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 12, 12);
  z-index: +1;
  width: 100%;
  padding: 40px;
  position: relative;
}

.job_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

.job_container > :first-child:after {
  content: " ";
  width: 3px;
  height: 110%;
  display: block;
  background: #00f255;
  background: linear-gradient(
    0deg,
    rgba(0, 242, 85, 1) 90%,
    rgba(18, 18, 18, 1) 100%
  );
  position: absolute;
  left: -50px;
  top: 0px;
}

.job_container > :last-child:after {
  content: " ";
  width: 3px;
  height: 110%;
  display: block;
  background: #00f255;
  background: linear-gradient(
    180deg,
    rgba(0, 242, 85, 1) 50%,
    rgba(18, 18, 18, 1) 100%
  );
  position: absolute;
  left: -50px;
  top: 0px;
}

.job_container > :only-child:after {
  content: " ";
  width: 3px;
  height: 110%;
  display: block;
  background: #00f255;
  background: #121212;
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 242, 85, 1) 50%,
    rgba(0, 242, 85, 1) 90%,
    rgba(18, 18, 18, 1) 100%
  );
  position: absolute;
  left: -50px;
  top: 0px;
}

.experience_path_end {
  width: 100%;
  height: 40px;
}
